.introContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introContainer h1 {
    font-size: 7rem;
    margin-top: 6rem;
}
.introContainer h3 {
    font-size: 5rem;
    margin-top: 1rem;
}
.introContainer p {
    font-size: 3rem;
    margin-top: 2rem;
}
.resumeBtn{
    width:22%;
    height: 4rem;
    border-radius: 10px;
    background-color: var(--colorPrimary);
    color: var(--colorSecondary);
    margin-top: 4rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
@media screen and (max-width: 1400px) {
    .introContainer h1 {
        font-size: 5.5rem;
        margin-top: 8rem;
    }
    .introContainer h3 {
        font-size: 3.5rem;
        margin-top: 0.5rem;
    }
    .introContainer p {
        font-size: 1.8rem;
        margin-top: 1rem;
    }
    .resumeBtn{
        width: 50%;
        height: 3rem;
        font-size: 1.4rem;
        margin-top: 2rem;
    }
}
@media screen and (max-width: 768px) {
    .introContainer h1 {
        font-size: 3rem;
        margin-top: 1rem;
    }
    .introContainer h3 {
        font-size: 1.7rem;
        margin-top: 0.5rem;
    }
    .introContainer p {
        font-size: 1.4rem;
        margin-top: 1rem;
    }
    .resumeBtn{
        width: 50%;
        height: 3rem;
        font-size: 1.1rem;
        margin-top: 2rem;
    }
}
