.NavLinkCompContanier{
    width:20%;
    height: 6vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    gap: 0.7rem;
}

.NavLinkDeactive{
    background-color: var(--colorPrimary);
    color: var(--colorSecondary);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.NavLinkActive{
    background-color: var(--colorSecondary);
    color: var(--colorPrimary);
}

.NavLinkDeactive:hover {
    transform: scale(1.05);
}
.textNameShow{
    display: flex;;
}
.textNameHide{
    display: flex;
}
@media screen and (max-width: 1400px) {
    .NavLinkCompContanier{
        height: 3rem;
        font-size: 1.3rem;
        
    }
}
@media screen and (max-width: 768px) {
    .NavLinkCompContanier{
        height: 3rem;
        font-size: 1.3rem;
        
    }
    .NavLinkDeactive{
        width: 3rem;
        background-color: var(--colorPrimary);
        color: var(--colorSecondary);
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        border: 1px solid var(--colorSecondary);
    }
    
    .NavLinkActive{
        width: 10rem;
        background-color: var(--colorSecondary);
        color: var(--colorPrimary);
        justify-content: flex-start;
        padding-left: 1rem;
    }
    .textNameShow{
        display: flex;
    }
    .textNameHide{
        display: none;
    }
}
