.projectCardInner {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
  border: 1px solid black;
  background-color: white;
  text-align: center;
  padding: 1rem;
}
.projectCardInner h3 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}
.projectCardInner p {
  font-size: 1rem;
  margin-top: 1.5rem;
  color: #555;
  text-align: justify;
}
.techSection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    background-color: var(--colorPrimary);
    height: 2rem;
    width: 100%;
    border-radius: 10px;
    font-size: 1.6rem;
    padding: 10px;
}
.technology{
    margin-top: 0.4rem;
    padding: 10px;
}
.gitProject{
    margin-top: 1rem;
    width: 100%;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.gitProject a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.gitBtn {
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
}

.gitBtn:hover{
    color: rgb(255, 153, 0);
}
@media (max-width: 1280px) {
  .projectCardInner {
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 1rem;
  }
  .projectCardInner h3 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }

  .projectCardInner p {
    font-size: 0.8rem;
    margin-top: 1.5rem;
  }
  .gitProject{
    margin-top: 0.5rem;
  }
}
@media (max-width: 768px) {
  .projectCardInner {
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.5rem;
  }
  .projectCardInner h3 {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .projectCardInner p {
    font-size: 0.8rem;
    margin-top: 1.5rem;
  }
  .gitProject{
    margin-top: 0.5rem;
  }
}
